<div mat-dialog-content>
  <form [formGroup]="updateConfigFrom" class="save-session-form">
    <h3>Update Spanner Config</h3>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Project Id</mat-label>
      <input matInput placeholder="mysession" type="text" formControlName="GCPProjectID" />
    </mat-form-field>
    <br />
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Spanner Instance Id</mat-label>
      <input matInput placeholder="editor name" type="text" formControlName="SpannerInstanceID" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="updateSpannerConfig()"
    type="submit"
    color="primary"
    [disabled]="!updateConfigFrom.valid"
  >
    Save
  </button>
</div>
