<div mat-dialog-content>
  <form [formGroup]="updateConfigForm" class="save-session-form">
    <h2>Connect to Spanner</h2>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Project ID</mat-label>
      <input matInput placeholder="project id" type="text" formControlName="GCPProjectID" />
    </mat-form-field>
    <br />
    <mat-form-field
      class="full-width"
      hintLabel="Min. 4 characters and Max. 30 characters"
      appearance="outline"
    >
      <mat-label>Instance ID</mat-label>
      <input
        matInput
        placeholder="instance id"
        type="text"
        required
        minlength="4"
        maxlength="30"
        pattern="^[a-z]([-a-z0-9]*[a-z0-9])?"
        formControlName="SpannerInstanceID"
      />
      <mat-hint align="end"
        >{{ updateConfigForm.value.SpannerInstanceID?.length || 0 }}/30</mat-hint
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="buttons-container">
  <button mat-button color="primary" mat-dialog-close>CANCEL</button>
  <button
    mat-button
    (click)="updateSpannerConfig()"
    type="submit"
    color="primary"
    [disabled]="!updateConfigForm.valid"
  >
    CONNECT
  </button>
</div>
