.connect-load-database-container {
  h3 {
    margin-bottom: 0px;
  }
}

.configure {
  color: #1967d2;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-item {
  margin-right: 8px;
  align-self: baseline;
}

.rounded-chip {
  background-color: white !important;
  color: rgb(15, 51, 171) !important;
  border-radius: 16px;
  padding: 6px 12px; 
  border: 1px solid black;
  cursor: not-allowed;
  pointer-events: none;
}