<div class="container">
    <mat-card class="form-container">
        <form [formGroup]="connectForm" (ngSubmit)="connectToDb()">

            <h3>Connect to a Database</h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Database Engine</mat-label>
                <mat-select matSelect name="dbEngine" formControlName="dbEngine" appearance="outline">
                    <mat-option value="mysql">MYSQL</mat-option>
                    <mat-option value="sqlserver">SQL Server</mat-option>
                    <mat-option value="oracle">ORACLE</mat-option>
                </mat-select>
            </mat-form-field>

            <h3>Connection Detail</h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Host Name</mat-label>
                <input matInput placeholder="127.0.0.1" name="hostName" type="text" formControlName="hostName" />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Port</mat-label>
                <input matInput placeholder="3306" name="port" type="text" formControlName="port" />
            </mat-form-field>
            <br />
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput placeholder="root" name="userName" type="text" formControlName="userName" />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="root" name="password" type="password" formControlName="password" />
            </mat-form-field>
            <br />
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Database Name</mat-label>
                <input matInput placeholder="root" name="dbname" type="text" formControlName="dbName" />
            </mat-form-field>
            <br />
            <button mat-raised-button type="submit" color="primary">Connect</button>
            <button mat-raised-button>Cancel</button>
        </form>
    </mat-card>
</div>