.container {
  padding: 0 20px;
  h3 {
    margin-bottom: 0px;
  }
  h5 {
    margin-bottom: 20px;
    color: #5c5c5c;
  }
  .mat-form-field {
    width: 400px;
    margin-right: 20px;
  }
  button {
    margin-right: 20px;
  }
  .form-container {
    background-color: inherit;
  }
}
