<div class="connect-load-database-container">
  <div class="form-container">
    <form [formGroup]="connectForm" (ngSubmit)="connectToDb()">
      <h3 class="primary-header">Connect to Source Database</h3>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Database Engine</mat-label>
        <mat-select formControlName="dbEngine" (selectionChange)="refreshDbOptions()">
          <mat-option *ngFor="let element of dbEngineList" [value]="element.value">
            {{ element.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="shardingConfig" *ngIf="(connectForm.value.dbEngine === 'mysql')">
        <mat-form-field appearance="outline">
          <mat-label>Sharded Migration</mat-label>
          <mat-select formControlName="isSharded">
            <mat-option *ngFor="let element of shardedResponseList" [value]="element.value">
              {{ element.displayName }}
            </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <h3 class="primary-header">Connection Detail</h3>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Hostname</mat-label>
        <input
          matInput
          placeholder="127.0.0.1"
          name="hostName"
          type="text"
          formControlName="hostName"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Port</mat-label>
        <input matInput placeholder="3306" name="port" type="text" formControlName="port" />
        <mat-error> Only numbers are allowed. </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput placeholder="root" name="userName" type="text" formControlName="userName" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput name="password" type="password" formControlName="password" />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Database Name</mat-label>
        <input matInput name="dbname" type="text" formControlName="dbName" />
      </mat-form-field>
      <br />
      <h3 class="primary-header">Spanner Dialect</h3>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select a spanner dialect</mat-label>
        <mat-select matSelect name="dialect" formControlName="dialect" appearance="outline">
          <mat-option *ngFor="let element of dialect" [value]="element.value">
            {{ element.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" color="primary" [disabled]="!connectForm.valid">
        Connect
      </button>
      <button mat-raised-button [routerLink]="'/'">Cancel</button>
    </form>
  </div>
</div>
