<div mat-dialog-content>
    <form [formGroup]="gcsForm" class="dataflow-form">
      <h2>Tune Google Cloud Storage (Optional)</h2>
      <h5>This form is optional and should only be edited to tune the Cloud Storage bucket used by Datastream to store Change Records, specified by the destination connection profile</h5>

      <mat-checkbox color="primary" matTooltip="Set the TTL (in days) for GCS data written by Datastream. This sets the GCS lifecycle to delete the objects after specified number of days."
      [matTooltipPosition]="'right'" [checked]="ttlInDaysSet" (change)="ttlInDaysSet = !ttlInDaysSet">
        Set TTL for data
      </mat-checkbox>

      <br>
      
      <mat-form-field *ngIf="ttlInDaysSet" class='ttl-input' appearance="outline" matTooltip="Set the TTL in days"
      [matTooltipPosition]="'right'">
        <mat-label>TTL in days</mat-label>
        <input matInput type="text" formControlName="ttlInDays"/>
      </mat-form-field>
    </form>
    <div mat-dialog-actions class="buttons-container">
      <button mat-button color="primary" mat-dialog-close>Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="ttlInDaysSet && gcsForm.invalid"
        (click)="updateGcsDetails()">
        Save
      </button>
    </div>
</div>