<div *ngIf="tableNames.length && rowData.length">
  <div class="container">
    <h2>Configure schema</h2>
    <div class="summary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </div>
  </div>
  <div class="columns">
    <div class="column-left">
      <app-object-explorer
        [tableNames]="tableNames"
        [conversionRates]="conversionRates"
        (selectTable)="changeCurrentTable($event)"
      ></app-object-explorer>
    </div>
    <div class="column-middle">
      <app-object-detail
        [tableName]="currentTable"
        *ngIf="rowData.length"
        [rowData]="rowData"
        [typeMap]="typeMap"
      >
      </app-object-detail>
    </div>
    <div class="column-right">
      <app-summary></app-summary>
    </div>
  </div>
</div>
