.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.column-left {
  width: 20%;
}
.column-middle {
  width: 54%;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.column-right {
  width: 25%;
  position: relative;
}

.container {
  padding: 7px;
  margin-bottom: 20px;
  .summary {
    font-weight: lighter;
  }
  h2 {
    margin: 0 0 5px 0;
  }
}

.left-column-collapse {
  width: 3%;
}
.left-column-expand {
  width: 20%;
}

.middle-column-collapse {
  width: 54%;
}
.middle-column-expand {
  width: 71%;
}

.right-column-half-expand {
  width: 79%;
}
.right-column-collapse {
  width: 25%;
}
.right-column-full-expand {
  width: 96%;
}

#right-column-toggle-button {
  border: none;
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: 1px;
  z-index: 100;
}
#right-column-toggle-button:hover {
  cursor: pointer;
}

.display {
  display: block;
}
.hidden {
  display: none;
}

::ng-deep .column-right .mat-tab-label .mat-tab-label-content {
  font-size: 0.8rem;
}

::ng-deep .column-right .mat-tab-label {
  min-width: 25px !important;
  padding: 10px;
}

::ng-deep .column-right .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 7px;
}
