<div mat-dialog-content>
    <form [formGroup]="connectionProfileForm" class="conn-profile-form">
        <span class="mat-h3 header-title">{{profileType}} Connection Profile</span>
        <br>
        <div class="radio-button-container">
            <mat-radio-group formControlName="profileOption" [(ngModel)]="selectedOption">
                <mat-radio-button *ngFor="let option of profileOptions" [value]="option.value"
                    (change)="onItemChange(option.value)">
                    {{option.display}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <div *ngIf="(selectedOption === 'existing')">
            <mat-form-field appearance="outline">
                <mat-label>Select connection profile</mat-label>
                <mat-select class="input-field" formControlName="existingProfile" required="true"
                    ng-value="selectedProfile">
                    <mat-option *ngFor="let profile of profileList" [value]="profile.DisplayName">
                        {{profile.DisplayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="(selectedOption === 'new')">
            <mat-form-field appearance="outline">
                <mat-label>Connection profile name</mat-label>
                <input matInput placeholder="Connection profile name" type="text" formControlName="newProfile"
                    required="true" />
            </mat-form-field>
            <div *ngIf="isSource">
                <div><b>Copy the public IPs below, and use them to configure the network firewall to accept
                        connections
                        from them.</b><a href="https://cloud.google.com/datastream/docs/network-connectivity-options#ipallowlists">Learn More</a></div>
                <br>
                <li *ngFor="let ip of ipList" class="container">
                    <span class="left-text">{{ip}}</span>
                    <span>
                        <mat-icon class="icon copy" [cdkCopyToClipboard]="ip" matTooltip="Copy">file_copy</mat-icon>
                    </span>
                </li>
                <div *ngIf="!testSuccess && errorMsg != ''" class="failure">
                    <span class="left-text">Test connection failed</span>
                    <mat-icon class="icon error" matTooltip="Test connection failed" matTooltipPosition="above">
                        error
                    </mat-icon>
                </div>
                <br>
                <button mat-raised-button type="submit" color="primary" (click)="testConnection()"
                    [disabled]="!(connectionProfileForm.valid)">Test Connection</button>
                <mat-icon *ngIf="testSuccess" class="success" matTooltip="Test connection successful"
                    matTooltipPosition="above">
                    check_circle
                </mat-icon>
            </div>
        </div>

        <div mat-dialog-actions class="buttons-container">
            <button mat-button color="primary" mat-dialog-close>Cancel</button>
            <button mat-button type="submit" color="primary"
                [disabled]="!(connectionProfileForm.valid) || (!testSuccess && (selectedOption === 'new') && isSource)"
                (click)="createConnectionProfile()">
                Save
            </button>
        </div>

    </form>
</div>