.icon {
    font-size: 15px;
}

.container {
    display: block;
}

.left-text {
    width: 40%;
    display: inline-block;
}


.radio-button-container mat-radio-button:hover {
    color: #1967d2;
    ;
}