.copy {
    color:cornflowerblue;
    margin-left: 40%;
}

.icon {
    font-size: 15px;
}

.container {
    display: block;
}

.radio-button-container{
    color: #1967d2;
}

.left-text {
    width: 40%;
    display: inline-block;
}