.idea/
main
web/harbour_bridge_output/
harbour_bridge_output/
web/spanner_migration_tool_output/
spanner_migration_tool_output/
*__debug_bin*
*.code-workspace
.DS_Store
*.log

# angular ui development
ui/.angular
ui/node_modules
ui/dist

# webv2 config
webv2/config.json

#file upload 
upload-file/

# cli
spanner-migration-tool
