.idea/
main
web/harbour_bridge_output/
harbour_bridge_output/
*__debug_bin*
*.code-workspace
*.log

# angular ui development
ui/.angular
ui/node_modules

# webv2 config
webv2/config.json

#file upload 
upload-file/