/* .report-header{
    font-weight: 700;
    font-size: 26px;
    padding: 10px 0;
    color: #222222;
    margin-top: 24px;
    margin-bottom: 24px;
} */

/* .download-button{
    font-size: 16px;
    font-weight: bold;
    float: right;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color: #FDFDFD;
    border-radius: 20px;
    padding: 10px;
    outline: none;
} */

/* .edit-button {
    font-size: 16px;
    font-weight: bold;
    float: right;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 25px;
    border: 1px solid #4285F4 !important;
    color: #FFFFFF;
    background: #4285F4;
}

.edit-button:hover {
    background-color: #CBCBCB;
    color: #4285F4;
} 

.editInstruction {
    color: #0F9D58;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 4px;
}
*/


/* .download-button:hover {
    background-color: #CBCBCB;
    color: #4285F4;
} */

/* .acc-card-content{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-color: #DCDCDC47;
    height: auto;
} */

/* .acc-column{
    color: #5E5752;
    background: #EDEDED;
    text-align: center;
    padding: 10px;
} */

/* .acc-table-th{
    padding: 10px;
    background-color: #0000FF;
    color: #FFFFFF;
}

.acc-table-th-src {
    text-align: center;
    color: #5E5752;
    background-color: #CBCBCB;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.acc-table-th-spn {
    text-align: center;
    background: #3A78C1;
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    border-right: 1px solid #80808073;
} */

/* .mdc-card {
    margin: 10px 0;
} */

/* .warning {
    color: #F4B400 !important;
    font-size: 18px !important;
    margin: auto 0px;
    padding: 0px;
    color: #FFFFFF;
    opacity: inherit;
    margin-right: 10px;
    margin-top: 10px;
} */



/* .acc-table-td{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    word-break: break-all;
} */

/* .removeIcon {
    font-size: 16px !important;
    font-weight: 600 !important;
} */

/* .dropButton {
    color: #FF5400CC;
    background-color: #FFFFFF;
    border: 1px solid #FF5400CC;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
} */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #D3D3D3; 
}
  
::-webkit-scrollbar-thumb {
    background: #B4AFAF; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #A19B9B; 
}

input[type="text"]:disabled {
    background: #dddddd;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc;
  color: #666666;
  cursor:not-allowed
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check:before {
    color: #4285F4;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: b .3s forwards;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
    color: #4285F4;
    border-color: #4285F4;
}

input[type=checkbox]{
    float: left;
}

.expand{
    margin-bottom: 20px;
    background-color: #4285F4;
    border: 1px solid #4285F4 !important;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 4px 10px 4px 10px;
}

.expand:hover {
    background-color: #CBCBCB;
    color: #4285F4;
}

.title {
    color: inherit;
    font-size: 15px;
    font-weight: inherit;
    padding-bottom: inherit;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 30px;
    padding: 8px 16px;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 15px;
    white-space: pre-wrap;
}

.greenBg {
    background-color: #0F9D58;
    opacity: 0.8;
}

.redBg {
    background-color: #FF0000;
    opacity: 0.7;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    right: 6px !important;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

label {
    float: left;
    clear: none;
    display: block;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;

}

.form-group {
  margin-bottom: 0px;
}

.custom-file-control,
.form-control {
  color: #121213;
  border: 1px solid #DDDDDD;  
}

.custom-file-control, .form-control, input::placeholder, label {
  line-height: 1;
}





/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #FDFDFD;
    background-color: #4285F4;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
}

.nav-tabs>li>a{
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    color: #5E5752;
    border: 1px solid #4285F4;
    border-radius: 20px 20px 0px 0px;
    margin-right: -1px;
} */






/* .card .card-header {
    padding: 1rem;
    background-color: #FDFDFD;
} */

/* .card {
    background-color: #FDFDFD;
    box-shadow: 0px 3px 16px #00000029;
    margin-bottom: 20px;
    border-radius: 10px !important;
} */

/* .orangeBorderBottom {
    border: 0.125rem solid ORANGE !important;
    border-radius: 10px !important;
}

.greenBorderBottom {
    border: 0.125rem solid #0F9D58 !important;
    border-radius: 10px !important;
}

.blueBorderBottom {
    border: 0.125rem solid #4285F4 !important;
    border-radius: 10px !important;
}

.yellowBorderBottom {
    border: 0.125rem solid YELLoW !important;
    border-radius: 10px !important;
} */

/* .remBorderBottom {
    border-radius: 10px 10px 0px 0px !important;
} */

/* .cardOrangeBorder {
    border: 0.125rem solid ORANGE !important;

    border-top: 0px !important;
}

.cardGreenBorder {
    border: 0.125rem solid #0F9D58 !important;
}

.cardBlueBorder {
    border: 0.125rem solid #4285F4 !important;
}

.cardYellowBorder {
    border: 0.125rem solid YELLOW !important;
} */




/* .mdc-card {
    margin: 0px;
} */

/* .mdc-card-content {
    background: #FDFDFD;
    border-radius: 0px 0px 10px 10px !important;
    border-top: 0px !important;
    margin-top: -5px;
} */



/* .right-align{
    float: right;
} */



/* .source-icon{
    font-size: 18px;
    margin-right: 6px;
    color: #CBCBCB;
    margin-top: 5px;
} */

/* .bmd-form-group .checkbox {
    display: table-caption;
    float: left;
} */

/* .source-text{
    margin-top: 5.4px;
    font-size: 15px;
    margin-right: 24px;
}

.spanner-icon{
    margin-top: 5px;
    color: #3A78C1;
    font-size: 18px;
    margin-right: 6px;
} */

/* .spanner-text{
    margin-top: 5.4px;
    font-size: 15px;
    margin-right: 18px;
} */

/* .show-content{
    display: block;
} */







/* .table-card-border{
    box-shadow: none !important;
} */


/* .acc-table > tbody{
    display: block;
    overflow: auto;
    max-height: 202px;
}

.fk-acc-table > tbody{
    display: block;
    overflow: auto;
    max-height: 202px;
}

.index-acc-table > tbody{
    display: block;
    overflow: auto;
    max-height: 202px;
} */

/* .data-type-table > tbody {
    display: block;
    overflow: auto;
    max-height: 310px;
} */


/* .ddl-content {
    border: 1px solid #80808096;
    border-left: 10px solid #80808029;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 20px;
    padding: 20px;
} */

/* .summary-content {
    border: 1px solid #80808096;
    border-left: 10px solid #80808029;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
} */



.spanner-input {
    background: #FFFFFF !important;
    border: 1px solid #0C0C0C61 !important;
    padding-left: 4px;
}

.spanner-input:focus {
    background: #FFFFFF !important;
    border: 1px solid #0C0C0C61 !important;
    padding-left: 4px;
}






/* span.sql-c {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
} */



/* .checkbox label input[type=checkbox]:checked+.checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
    color: #4285F4;
    border-color: #4285F4;
}

.checkbox label .checkbox-decorator, label.checkbox-inline .checkbox-decorator .check{
    left: 0;
    margin: -.7em;
    line-height: .7;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 100%;
} */


/* .search-form {
    float: left;
    margin-right: 30px;
} */


/* 
.tableSelect, .tableSelect:focus {
    margin-bottom: 0px !important;
    border-radius: 2px !important;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A) !important;
    background-position: right 3px center !important;
    background-repeat: no-repeat !important;
    background-size: auto 40% !important;
    border-radius: 2px !important;
} */

/* .column {
    float: left;
}

.left {
    width: 10%;
}
  
.right {
    width: 60%;
} */
  
/* .keyMargin {
    margin-top: 5px;
    margin-right: 12px;
} */

/* .keyClick {
    cursor: pointer;
} */
  






/* .summaryCardHeader {
    padding: 1rem;
    background-color: #FDFDFD;
    height: 0px;
    border-radius: 10px !important;
} */



/* .foreignKeyHeader {
    padding: 1rem;
    background-color: #FDFDFD;
    height: 0px;
} */

/* .summaryCardHeader a i{
    padding-top: 2px;
    float: left;
} */

/* .summaryCard {
    margin-bottom: 0px;
    border: 1px solid #8080806B;
    border-radius: 0px 0px 10px 10px !important;
    background-color: #FDFDFD;
    box-shadow: 0px 3px 16px #00000029;
} */

/* .fkCard {
    margin-bottom: 0px;
    border: 1px solid #8080806B;
    border-radius: 0px 0px 10px 10px !important;
    background-color: #FDFDFD;
    box-shadow: 0px 3px 16px #00000029;
} */

/* .summaryFont {
    font-size: 16px !important;
    color: #4285F4 !important;
    float: left;
    margin-top: -10px;
    font-weight: 700;
} */

/* .fkFont, .indexFont {
    font-size: 16px !important;
    color: #4285F4 !important;
    float: left;
    margin-top: -10px;
    font-weight: 700;
} */

/* .summaryCollapse, .innerSummaryCollapse {
    text-align: left;
} */

/* .fkCollapse, .indexCollapse {
    text-align: left;
} */

/* .summaryBorder {
    border: 0px;
    margin-top: 0px;
} */










/* .hidePrimaryKey {
    display: none;
}

.primaryKey:hover + .hidePrimaryKey {
    display: block;
} */



/* .radio-class {
    float: left;
    clear: none;
} */



/* .fkTable tr {
    border: 1px solid #CCCCCC;
    border-top: 0px;
    border-collapse: collapse;
  }

.fkTable th {
    border-top: 1px solid #CCCCCC;
    background-color: #EDEDED;
    color: #5E5752;
} */

/* input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 15px 0 2px;
    cursor: pointer;
} */

/* .newIndexButton {
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #4285F4 !important;
    color: #FFFFFF;
    background: #4285F4;
} */



/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} */

/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
    height: 20px;
    width: 49px;
    margin-top: 22px;
}

.slider.round:before {
    border-radius: 50%;
    height: 13px;
    width: 15px;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */














/* .save-interleave-button {
    font-size: 16px;
    font-weight: bold;
    float: right;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 25px;
    border: 1px solid #3A78C1 !important;
    color: #5E5752;
    background: #EDEDED;
}

.save-interleave-button:hover {
    background-color: #CBCBCB;
}



.instructions-main-content {
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}

.panel-default>.panel-heading{
    background-color: #FFFFFF;
    height: auto;
    font-size: 21px !important;
    color: #222222;
}

.panel-default{
    margin-bottom: 24px !important;
}

.table-panel{
    height: 50px !important;
}

.table-heading{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.table-heading:hover, .table-heading:focus{
    text-decoration: none;
}

.ddlBorderBottom {
    border: 1px solid #80808096;
}


.ddlRemBorderBottom {
    border-radius: 10px 10px 0px 0px !important;
}


.edit-icon{
    margin-top: 3px;
    font-size: 20px;
    margin-right: 6px;
    cursor: pointer;
    text-decoration: none;
}

.edit-text{
    margin-top: 5.4px;
    margin-right: 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1px !important;
    font-size: 16px !important;
}

.save-text{
    font-size: 15px;
    margin-right: 24px;
    cursor: pointer;
    text-decoration: none;   
}

.edit-text:hover{
    text-decoration: none;
}

.save-text:hover{
    text-decoration: none;
}

.glyphicon-chevron-right:before{
    font-size: small;
    margin-right: 10px;
}

.glyphicon-chevron-down:before{
    font-size: small;
    margin-right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.custom-border-green{
    border: 1px solid #0F9D58 !important;
}

.custom-border-blue{
    border: 0.125rem solid #4285F4 !important;
}

.panel-border{
    border: 1px solid #0F9D58;
}

.table-checkbox{
    margin-left: 8px !important;
    margin-right: -8px !important;
    margin-top: 12px !important;
}

.collapseButton{
    margin-bottom: 20px;
    margin-left: 8px;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 4px 10px 4px 10px;   
}

.ddl-statement{
    font-size: 16px;
}

.edit-content{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.edit-content:focus{
    outline: none;
}


.pl-col-name{
    padding-left: 33px;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
    font-size: small;
    margin-top: 5px;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: #222222;
    margin-right: 10px;
    font-size: small;
    margin-top: 5px;
}

.editTextbox{
    width: 105px;
    border: 1px solid #4285F4;
}

.editTextbox:focus{
    outline: none;
}

.hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: 0.5em !important;
    font-weight: 500;
    letter-spacing: 0px;
    font-family: Helvetica Neue;
    color: #707070 !important;
    font-size: 17px;
    background-color: #FFFFFF !important;
}

.selectBox select {
    width: 100%;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #DADADA solid;
}
  
#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1E90FF;
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #FFFFFF;
    color: #5E5752;
    font-size: 16px;
    position: absolute;
    padding: 4px 8px 4px 8px;
    bottom: -1.6em;
    right: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #707070;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.interleaveCardHeader {
    padding: 1rem;
    background-color: #FDFDFD;
    height: 0px;
}

.dataTypeSelector {
    width: 200px;
    background: #222;
    color:  #EEEEEE;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dataTypes {
    display: none;
    position: absolute;
    margin: 0;
    background: #DDDDDD;
}

.dataTypes > li {
    width: 200px;
    background: #EEEEEE;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dataTypes > li:hover {
    background: #AAAAAA;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.importantRule100 { 
    width: 100% !important; 
}

.importantRule0 { 
    width: 0% !important; 
} 