/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content-height {
  height: calc(100vh - 80px);
}

.cursor-pointer {
  cursor: pointer;
}

.mat-mdc-drawer-container {
  background-color: white;
}

.mat-mdc-button {
  color: #3367d6;
}

.global-font-color {
  color: #000000;
}

.body-font-size {
  font-size: 14px;
}

.primary-header {
  font-size: 20px !important;
}

.mat-mdc-stroked-button {
  color: #3367d6;
}

.mat-mdc-raised-button {
  color: white;
  background-color: #3367d6;
}

.blue-font-color {
  color: #3367d6;
}

.mat-mdc-tab-label {
  opacity: 1 !important;
}

.gray-out {
  opacity: 0.6;
}

.danger {
  color: #da4236;
}

.warning {
  color: #ff9800;
}

.success {
  color: green;
}

.suggestion {
  color: #f6be00;
  transform: rotate(180deg);
}

.orange {
  color: rgb(248, 116, 68);
}

.dark {
  color: rgb(77, 75, 75);
}

.suggestion {
  color: #f6be00;
  transform: rotate(180deg);
}

.danger-background {
  background-color: #da4236;
}

.warning-background {
  background-color: #f3b300;
}

.success-background {
  background-color: green;
}

.failure {
  color: red;
}

.copy {
  color: cornflowerblue;
  margin-left: 40%;
}

.header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;

  .header_action {
    button {
      border: none;
      background-color: inherit;
      color: #1967d2;
      font-size: 0.8rem;
    }
  }

  .breadcrumb {
    display: flex;
    align-items: center;

    .breadcrumb_source {
      padding-left: 0;
      color: rgb(143, 143, 143);
      font-weight: 400;
      font-size: 14px;
    }

    .breadcrumb_workspace {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }

    span {
      font-size: 1.2rem;
    }
  }
}

html {
  --mat-sidenav-content-background-color: #fff;
}

.mat-card-class {
  padding: 10px;
  width: 600px;

  .mat-card-title {
    font-size: 13pt;
    font-weight: normal;
    color: #000000;
  }

  .mat-card-subtitle {
    font-size: 9pt;
    font-weight: normal;
    color: #000000;
  }

  p {
    color: #000000;

    .bullet {
      position: relative;
      display: inline-block;
      background-color: #e5e5e5;
      padding: 0px 5px 10px 5px;
      margin: 0;
      border-radius: 12px;
      font-size: 9px;
      height: 9px;
      width: 9px;
      text-align: center;
    }

    span {
      margin-left: 40px;
      font-weight: lighter;
      font-size: 13px;
    }
  }

  hr {
    border-color: #ffffff;
    margin-bottom: 20px;
  }
}

.connect-load-database-container {
  padding: 0 20px;

  h5 {
    margin-bottom: 20px;
    color: #5c5c5c;
  }

  .mat-mdc-form-field {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  button {
    margin-right: 20px;
  }

  .form-container {
    background-color: inherit;
    padding: 16px;
  }
}

.progress_bar {
  width: 50%;
  text-align: center;
  padding-left: 20vw;
}

.mat-mdc-tab-label-active {
  color: #3367d6 !important;
}

.object-display-flex {
  display: flex;
  flex-direction: row;
}

.object-full-width {
  width: 100%;
}

.dialog-container {
  .dialog-message {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    .a-link {
      outline: none !important;
    }
  }

  .dialog-action {
    display: flex;
    justify-content: flex-end;
  }
}

.sidenav {
  box-sizing: border-box;
  height: 100%;

  .sidenav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 1px;

    .header-title {
      margin-left: 25px;
      font-size: 1rem;
      letter-spacing: 0.05px;
    }

    .close-button {
      margin-right: 10px;
      background-color: inherit;
    }
  }

  .sidenav-content {
    padding: 15px 25px;

    h3 {
      margin-bottom: 0;
    }

    .mat-mdc-form-field {
      width: 100%;
      padding-top: 10px;
    }
  }

  .sidenav-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}

.sidenav-header-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.sidenav-percentage-bar {
  height: 0.8rem;
  display: flex;
  flex-direction: row;
  border: 5px;

  div {
    height: 0.8rem;
  }
}

.sidenav-percentage-marker {
  display: flex;
  justify-content: space-between;
}

.sidenav-percentage-indent {
  display: flex;

  span {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
  }
}

.sidenav-conversionByTable {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.sidenav-conversionByPercentage {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.sidenav-databaseDefinitions {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.sidenav-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.radio-button-container mat-mdc-radio-button:hover {
  color: #1967d2;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
}

.spinner {
  position: relative;
  display: inline-block;
}

.spinner-text {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

.spinner-small-text {
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}

.display {
  display: block !important;
}

.hidden {
  display: none !important;
}

.spanner-tab-link {
  color: #1967d2;
  font-weight: 400;
  cursor: pointer;
}

#middle-column-toggle-button {
  z-index: 100;
  border: none;
  background-color: inherit;
}

#middle-column-toggle-button:hover {
  cursor: pointer;
}

.sidenav-view-assessment-container {
  .content {
    padding-left: 15px;
    padding-top: 10px;

    .sidenav-percentage-indent {
      padding-top: revert;
      padding-bottom: 0;
      box-shadow: none;
    }

    .databaseName {
      text-transform: uppercase;
      font-size: large;
      font-weight: 500;
    }

    .summaryHeader {
      display: flex;
    }

    .migrationDetails {
      font-size: 16px;
      font-weight: 400;
      justify-content: center;
      display: flex;
    }

    .summaryText {
      font-size: 16px;
      font-weight: 400;
    }

    .sidenav-percentage-indent {
      padding-top: revert;
      padding-bottom: revert;

      .icon {
        margin-right: 8px;
      }

      .danger,
      .warning,
      .success {
        padding-left: 16px;
      }

      .warning,
      .success {
        padding-left: 32px;
      }

      .success {
        padding-left: 40px;
      }
    }

    .mat-mdc-card {
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      display: block;
      position: relative;
      border-radius: 4px;
      padding-left: revert;
    }

    .issue-report {

      .warning,
      .danger,
      .success {
        padding-right: 20px;
      }

      .suggestion {
        padding-left: 20px;
      }


      table {
        width: 100%;
      }

      .example-element-row td {
        border-bottom-width: 0;
      }

      tr.example-detail-row {
        height: 0;
      }

      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }

      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }

      .example-element-description {
        padding-left: 41px;
        padding-top: 5px;
        padding-bottom: 15px;
      }

      .example-element-description-attribution {
        opacity: 0.5;
      }

      .example-element-detail {
        overflow: hidden;
        display: flex;
        &.expanded {
          height: auto;
        }
        &.collapsed {
          height: 0;
          min-height: 0;
        }
      }

      .mat-mdc-position {
        width: 9px;
        padding: 16px;
      }

      .mat-mdc-description {
        width: 530px;
        padding: 16px;
      }

      .mat-mdc-tableCount {
        width: 65px;
        padding: 16px;
      }

      .no-issue-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .no-issue-icon-container {
          padding: 10px;
          background-color: rgba(51, 103, 214, 0.12);
          border-radius: 3px;
          margin: 20px;
        }

        .no-issue-message {
          width: 80%;
          max-width: 500px;
          text-align: center;
        }
      }
    }
  }
}

.mat-mdc-table {
  border: inset;
}

.mat-mdc-icon-button {
  --mdc-icon-button-icon-size: 12px !important;
}

.mat-mdc-card{
  padding: 10px;
}

.rounded-chip {
  color: #0f33ab;
}

.mat-mdc-dialog-container {
  --mdc-dialog-supporting-text-color: black;
}

.new-connection-profile-input{
  width: 100%;
}

.end-migration-dialog{
  padding: 5%;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
   flex-grow: 0 !important; 
}

.mat-mdc-form-field-infix {
  min-height: 0;
  min-width: unset !important;
}

.w-100 {
  .mat-mdc-form-field-infix {
    padding: 0 !important;
  }
}

.mat-mdc-raised-button>.mat-icon{
  margin-left: auto;
  margin-right: auto;
}