/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content-height {
  height: calc(100vh - 80px);
}

.cursor-pointer {
  cursor: pointer;
}

.gray-out {
  opacity: 0.6;
}

.danger {
  color: #da4236;
}

.warning {
  color: #f3b300;
}

.success {
  color: green;
}

.orange {
  color: rgb(248, 116, 68);
}
.dark {
  color: rgb(77, 75, 75);
}
