<div mat-dialog-content>
    <form [formGroup]="dataflowForm" class="dataflow-form">
      <h1> Tune Resource (Optional)</h1>
      <h2>Tune Datastream (Optional)</h2>
      <div>
          <mat-form-field appearance="outline">
              <mat-label>Max Concurrent Backfill Tasks</mat-label>
              <input matInput placeholder="50" type="text" formControlName="maxConcurrentBackfillTasks"
              matTooltip="Number of backfill workers" [matTooltipPosition]="'right'"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
              <mat-label>Max Concurrent CDC Tasks</mat-label>
              <input matInput placeholder="16" type="text" formControlName="maxConcurrentBackfillTasks"
              matTooltip="Number of CDC workers" [matTooltipPosition]="'right'"/>
          </mat-form-field>
      </div>
      <h2>Tune Dataflow (Optional)</h2>
      <mat-form-field class="full-width" appearance="outline" matTooltip="Edit to run Dataflow in a shared VPC"
      [matTooltipPosition]="'right'" matTooltipHideDelay="100000">
        <mat-label>Host ProjectID</mat-label>
        <input matInput placeholder="Host ProjectID" type="text" formControlName="hostProjectId"/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>VPC Network</mat-label>
        <input matInput placeholder="VPC Network Name" type="text" formControlName="network"/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>VPC Subnetwork</mat-label>
        <input matInput placeholder="VPC Subnetwork Name" type="text" formControlName="subnetwork"/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline" matTooltip="Set maximum workers for the dataflow job(s). Default value: 50"
      [matTooltipPosition]="'right'" matTooltipHideDelay="100000">
        <mat-label>Max Workers</mat-label>
        <input matInput placeholder="50" type="text" formControlName="maxWorkers"/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline" matTooltip="Set initial number of workers for the dataflow job(s). Default value: 1"
      [matTooltipPosition]="'right'" matTooltipHideDelay="100000">
        <mat-label>Number of Workers</mat-label>
        <input matInput placeholder="1" type="text" formControlName="numWorkers"/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline" matTooltip="Set the service account to run the dataflow job(s) as"
      [matTooltipPosition]="'right'" matTooltipHideDelay="100000">
        <mat-label>Service Account Email</mat-label>
        <input matInput placeholder="Service Account Email" type="text" formControlName="serviceAccountEmail"/>
      </mat-form-field>
    </form>
    <div mat-dialog-actions class="buttons-container">
      <button mat-button color="primary" mat-dialog-close>Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="!(dataflowForm.valid)"
        (click)="updateDataflowDetails()">
        Save
      </button>
    </div>
</div>