.container {
  padding: 10px;
  min-height: 600px;
}
h3{
  margin-bottom: 0px;
}

.error{
  font-size: 20px;
  color: #eb0000;
}

.warning{
  font-size: 20px;
  color: #ff9800;
}

.mat-expansion-panel-header{
  padding: 15px;  
}

.mat-expansion-panel-header-description{
  padding-left: 20px;
}

.menu-spacer {
  flex: 4 1 auto;
}

.mat-toolbar{
  height: 30px;
  font-size: 13px;
  padding-right: 60%;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
  .left {
    display: block;
    position: relative;
    padding-top:18px;
    flex: 15%;
    .filter-icon {
     position: absolute;
    }
    .filter-text {
      position: absolute;
      margin-left: 30px;
    }
  }
  .right {
    flex: 82%;
    .mat-form-field{
      width: 100%;
    }
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-chip{
  min-height: 24px;
  font-weight: lighter;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-expansion-panel-header:hover {
  background-color: transparent !important;
}