<div class="container">
  <h3>
    Issues & Recommendations
  </h3>
  <div class="filter-wrapper">
    <div class="left">
      <span class="material-icons filter-icon">filter_list</span>
      <span class="filter-text">Filter</span>
    </div>
    <div class="right">
      <mat-form-field>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip color="primary" selected *ngFor="let table of tables" (removed)="remove(table)">
            Object name : {{table.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="material-icons error">error</span>
        </mat-panel-title>
        <mat-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="material-icons warning">warning</span>
        </mat-panel-title>
        <mat-panel-description>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="material-icons warning">warning</span>
        </mat-panel-title>
        <mat-panel-description>
          Sunt in culpa qui officia deserunt mollit anim id est laborum.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="material-icons error">error</span>
        </mat-panel-title>
        <mat-panel-description>
          Duis aute irure dolor in reprehenderit in voluptate velit.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>