.container {
  height: calc(100vh - 271px);
  position: relative;
  overflow-y: auto;
  .no-object-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .no-object-icon-container {
      padding: 15px;
      background-color: rgba(51, 103, 214, 0.12);
      border-radius: 3px;
    }
    .no-object-message {
      width: 80%;
      max-width: 500px;
      text-align: center;
    }
  }
  .no-issue-container {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .no-issue-icon-container {
      padding: 10px;
      background-color: rgba(51, 103, 214, 0.12);
      border-radius: 3px;
    }
    .no-issue-message {
      width: 80%;
      max-width: 500px;
      text-align: center;
    }
  }
}
h3 {
  margin-bottom: 0;
  padding-left: 15px;
}

.filter {
  display: flex;
  flex: 1;
  min-height: 65px;
  padding: 0 15px;

  .columns {
    display: flex;
    flex: 1;

    .left {
      order: 1;
      position: relative;
      padding-top: 20px;
      width: 100px;
      .filter-icon {
        position: absolute;
        font-size: 20px;
      }
      .filter-text {
        position: absolute;
        margin-left: 30px;
      }
    }
    .right {
      order: 2;
      width: 100%;
      .mat-form-field {
        width: 100%;
        min-height: 22px;
      }
      .mat-chip-input {
        width: 60px;
        height: 24px;
        flex: 0;
      }
      .primary {
        background-color: #3f51b5;
        color: #fff;

        button {
          color: #fff;
          opacity: 0.4;
        }
      }
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  .mat-chip {
    min-height: 24px;
    font-weight: lighter;
  }
}

.header {
  display: flex;
  flex: 1;
  padding: 5px 0;
  background-color: #f5f5f5;
  text-align: center;

  .columns {
    display: flex;
    flex: 1;
    .left {
      width: 60px;
      order: 1;
    }
    .right {
      flex: 1;
      order: 2;
    }
  }
}

.summary-row {
  display: flex;
  flex: 1;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  .columns {
    display: flex;
    flex: 1;
    .left {
      width: 60px;
      order: 1;
      text-align: center;
      padding-top: 5px;
    }
    .middle {
      flex: 1;
      order: 2;
    }
    .right {
      width: 30px;
      order: 3;
      cursor: pointer;
    }
    .error {
      color: #eb0000;
      font-size: 18px;
    }
    .warning {
      color: #ff9800;
      font-size: 18px;
    }
    .suggestion {
      color: #f6be00;
      font-size: 18px;
    }
    .note {
      color: green;
      font-size: 18px;
    }
  }
}
