<div class="container">
  <div>
    <div class="filter">
      <div class="columns">
        <div class="left">
          <span class="material-icons filter-icon">filter_list</span>
          <span class="filter-text">Filter</span>
        </div>
        <div class="right">
          <mat-form-field class="chip-list">
            <mat-chip-grid #chipGrid>
              <mat-chip-row
                class="primary"
                *ngFor="let fs of searchFilters"
                (removed)="removeFilter(fs)"
              >
                {{ fs }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>

              <input
              placeholder="New Filter..."
                [formControl]="filterInput"
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  (click)="addFilter(option)"
                  *ngFor="let option of obsFilteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="header">
      <div class="columns">
        <div class="left"><span> Status </span></div>
        <div class="right"><span> Summary </span></div>
      </div>
    </div>

    <div class="content" *ngIf="summaryCount !== 0">
      <section class="summary-row" *ngFor="let item of filteredSummaryRows">
        <div class="columns">
          <div class="left">
            <mat-icon
              matTooltip="Error: Please resolve them to proceed with the migration"
              matTooltipPosition="above"
              *ngIf="item.type == 'error'"
              class="danger"
            >
              error
            </mat-icon>
            <mat-icon
              matTooltip="Warning : Changes made because of differences in source and spanner capabilities."
              matTooltipPosition="above"
              *ngIf="item.type == 'warning'"
              class="warning"
            >
              warning
            </mat-icon>
            <mat-icon
              matTooltip="Suggestion : We highly recommend you make these changes or else it will impact your DB performance."
              matTooltipPosition="above"
              *ngIf="item.type == 'suggestion'"
              class="suggestion"
            >
            wb_incandescent
            </mat-icon>
            <mat-icon
              matTooltip="Note : This is informational and you dont need to do anything."
              matTooltipPosition="above"
              *ngIf="item.type == 'note'"
              class="success"
            >
            check_circle
            </mat-icon>
          </div>
          <div class="middle">{{ item.content }}</div>
          <div class="right">
            <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="!item.isRead" (click)="toggleRead(item)">
                <span>Mark as read</span>
              </button>
              <button mat-menu-item *ngIf="item.isRead" (click)="toggleRead(item)">
                <span>Mark as unread</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </section>
    </div>
    <div class="no-issue-container" *ngIf="summaryCount === 0">
      <div class="no-issue-icon-container">
        <svg
          width="36"
          height="36"
          viewBox="0 0 24 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.8332 0.69873C16.0051 7.45842 16.2492 9.44782 10.4672 10.2012C16.1511 11.1242 16.2329 13.2059 16.8332 19.7037C17.6237 13.1681 17.4697 11.2106 23.1986 10.2012C17.4247 9.45963 17.6194 7.4505 16.8332 0.69873ZM4.23739 0.872955C3.79064 4.52078 3.92238 5.59467 0.802246 6.00069C3.86944 6.49885 3.91349 7.62218 4.23739 11.1284C4.66397 7.60153 4.581 6.54497 7.67271 6.00069C4.55696 5.60052 4.66178 4.51623 4.23739 0.872955ZM7.36426 11.1105C7.05096 13.6683 7.14331 14.4212 4.95554 14.7061C7.10612 15.0553 7.13705 15.8431 7.36426 18.3017C7.66333 15.8288 7.60521 15.088 9.77298 14.7061C7.58818 14.4255 7.66177 13.6653 7.36426 11.1105Z"
            fill="#3367D6"
          />
        </svg>
      </div>
      <div class="no-issue-message">
        Woohoo! No issues or suggestions<br />found.
      </div>
    </div>
  </div>
</div>
