<div class="header">
    <div class="breadcrumb">
        <a class="breadcrumb_source" mat-button [routerLink]="'/'">Select Source</a>
        <span>></span>
        <a class="breadcrumb_workspace" mat-button [routerLink]="'/workspace'">Configure Schema ({{dialect}}
            Dialect)</a>
        <span>></span>
        <a class="breadcrumb_prepare_migration" mat-button [routerLink]="'/prepare-migration'"><b>Prepare
                Migration</b></a>
    </div>
    <div class="header_action">
        <button mat-button (click)="openSaveSessionSidenav()">
            SAVE SESSION
        </button>
        <button mat-button color="primary" (click)="downloadSession()">DOWNLOAD SESSION FILE</button>
        <button mat-button color="primary" (click)="downloadOverrides()">DOWNLOAD OVERRIDES FILE</button>
    </div>
</div>
<br />
<div class="body">
    <div class="definition-container">
        <h2 *ngIf="!isSharded">Source and Target Database definitions</h2>
        <h2 *ngIf="isSharded">Source and Target Database definitions (per shard)</h2>
        <div class="summary">
            <table id='summary-table' mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                        <b>{{ element.title }}</b>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Source">
                    <th mat-header-cell *matHeaderCellDef>Source</th>
                    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
                </ng-container>
                <ng-container matColumnDef="Destination">
                    <th mat-header-cell *matHeaderCellDef>Destination</th>
                    <td mat-cell *matCellDef="let element">{{ element.target }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Migration Mode:</mat-label>
        <mat-select [(ngModel)]="selectedMigrationMode" (selectionChange)="refreshPrerequisites()">
            <mat-option *ngFor="let mode of migrationModes" [value]="mode">
                {{mode}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-icon class="configure" [matTooltip]="migrationModesHelpText.get(selectedMigrationMode)!">info</mat-icon>
    <br>

    <div *ngIf="(selectedMigrationMode !='Schema')">
        <mat-form-field appearance="outline">
            <mat-label>Skip Foreign Key Creation:</mat-label>
            <mat-select [(ngModel)]="isForeignKeySkipped">
                <mat-option *ngFor="let element of skipForeignKeyResponseList" [value]="element.value">
                    {{ element.displayName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mat-card-class">
        <mat-card>
            <mat-card-title>Prerequisites</mat-card-title>
            <mat-card-subtitle>Before we begin, please ensure you have done the following:</mat-card-subtitle>
            <div class="static-prereqs"
                *ngIf="(selectedMigrationType ==='bulk') && !(selectedMigrationMode ==='Schema')">
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Please ensure that the application default credentials deployed on this machine have
                        permissions to write to Spanner.</span>
                </p>
            </div>

        </mat-card>
    </div>
    <div class="mat-card-class">
        <mat-card>
            <div *ngIf="(connectionType ==='sessionFile') && !(selectedMigrationMode ==='Schema') && !isSharded">
                <h3>Source database details:</h3>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Setup Source database details</span><span><button mat-button (click)="openSourceDetailsForm()"
                            [disabled]="isMigrationInProgress" color="primary">
                            Configure
                            <mat-icon iconPositionEnd>edit</mat-icon>
                            <mat-icon iconPositionEnd *ngIf="isSourceDetailsSet" class="success"
                                matTooltip="Source details configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
            </div>
            <div *ngIf="isSharded && (selectedMigrationType === 'bulk') && !(selectedMigrationMode ==='Schema')">
                <mat-card-title>Source databases details:</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Setup Source Connection details
                        <mat-icon class="configure"
                            matTooltip="Configure the connection info of all source shards to connect to and migrate data from.">
                            info</mat-icon>
                    </span>
                    <span><button mat-button (click)="openShardedBulkSourceDetailsForm()"
                            [disabled]="isMigrationInProgress" color="primary">
                            Configure
                            <mat-icon iconPositionEnd>edit</mat-icon>
                            <mat-icon iconPositionEnd *ngIf="isSourceDetailsSet" class="success"
                                matTooltip="Source details configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
            </div>
            <div>
                <mat-card-title>Target details:</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Configure Spanner Database
                        <mat-icon class="configure"
                            matTooltip="Configure the database in Spanner you want this migration to write to (up till now only GCP Project ID and Spanner Instance name have been configured.)">
                            info</mat-icon>
                    </span>
                    <span><button mat-button (click)="openTargetDetailsForm()"
                            [disabled]="isMigrationInProgress" color="primary">
                            Configure
                            <mat-icon iconPositionEnd>edit</mat-icon>
                            <mat-icon iconPositionEnd *ngIf="isTargetDetailSet" class="success"
                                matTooltip="Target details configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>

                <p class="point" *ngIf="isSharded">
                    <span class="bullet" *ngIf="(selectedMigrationMode ==='Schema')">2</span>
                    <span class="bullet" *ngIf="!(selectedMigrationMode ==='Schema')">6</span>
                    <span>GCS Metadata Path (Optional)
                        <mat-icon class="configure"
                            matTooltip="Specify existing or new GCS path to store metadata for migration.">
                            info</mat-icon>
                    </span>
                    <span><button mat-button (click)="openGcsMetadataDetailsForm()"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet" color="primary">
                            Configure
                            <mat-icon iconPositionEnd>edit</mat-icon>
                            <mat-icon iconPositionEnd *ngIf="isGcsMetadataDetailSet" class="success"
                                matTooltip="GCS Metadata Path Configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>

            </div>
        </mat-card>
    </div>
    <div class="mat-card-class" *ngIf="!(selectedMigrationMode ==='Schema') && isSharded">
        <mat-card>
            <mat-card-title>Configured Source Details</mat-card-title>
            <p class="point">
                <span class="bullet">1</span>
                <span><b>Source Database: </b>{{ sourceDatabaseType }}</span>
            </p>
            <p class="point">
                <span class="bullet">2</span>
                <span><b>Number of physical instances configured: </b> {{ numberOfInstances }}</span>
            </p>
            <p class="point">
                <span class="bullet">3</span>
                <span><b>Number of logical shards configured: </b> {{ numberOfShards }}</span>
            </p>
        </mat-card>
    </div>
    <div class="mat-card-class" *ngIf="isTargetDetailSet">
        <mat-card>
            <mat-card-title>Configured Target Details</mat-card-title>
            <p class="point">
                <span class="bullet">1</span>
                <span><b>Spanner Database: </b>{{ targetDetails.TargetDB }}</span>
            </p>
            <p class="point">
                <span class="bullet">2</span>
                <span><b>Spanner Dialect: </b>{{ dialect }}</span>
            </p>
            <p class="point">
                <span class="bullet">3</span>
                <span><b>Region: </b>{{ region }}</span>
            </p>
            <p class="point">
                <span class="bullet">4</span>
                <span><b>Spanner Instance: </b>{{ instance }} (Nodes: {{nodeCount}}, Processing Units:
                    {{processingUnits}})</span>
            </p>
            <p class="point">
                <span class="bullet">5</span>
                <span><b>Default Timezone: </b>{{ targetDetails.DefaultTimezone || 'None' }}</span>
            </p>
        </mat-card>
    </div>
    <div *ngIf="hasSchemaMigrationStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="schemaMigrationProgress"></mat-progress-bar>
        <span> {{this.schemaProgressMessage}}</span>
    </div>
    <div *ngIf="hasDataMigrationStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="dataMigrationProgress"></mat-progress-bar>
        <span> {{this.dataProgressMessage}}</span>
    </div>
    <div *ngIf="hasForeignKeyUpdateStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="foreignKeyUpdateProgress"></mat-progress-bar>
        <span> {{this.foreignKeyProgressMessage}}</span>
    </div>

    <br><br>
    <div *ngIf="isResourceGenerated">
        <h2>Migration resources generated for migration jobId: {{resourcesGenerated.MigrationJobId}}</h2>
        Note: This resources displayed below can be looked upto at a later point in time in the
        "spannermigrationtool_metadata" database in your spanner instance using the migration jobId listed above.
        <div class="mat-card-class">
            <mat-card>
                <mat-card-title>Job Level Resources:</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span><b>Spanner Database: </b><a [href]="resourcesGenerated.DatabaseUrl"
                            target="_blank">{{resourcesGenerated.DatabaseName}}</a></span>
                </p>
                <p class="point">
                    <span class="bullet">2</span>
                    <span><b>GCS bucket: </b><a [href]="resourcesGenerated.BucketUrl"
                            target="_blank">{{resourcesGenerated.BucketName}}</a></span>
                </p>

            </mat-card>
        </div>
    </div>

    <br><br>

    <div class="migrate">
        <button mat-raised-button type="submit" color="primary" (click)="migrate()"
            [disabled]="!isTargetDetailSet || isMigrationInProgress">Migrate</button>
    </div>
</div>