<div class="header">
    <div class="breadcrumb">
        <a class="breadcrumb_source" mat-button [routerLink]="'/'">Select Source</a>
        <span>></span>
        <a class="breadcrumb_workspace" mat-button [routerLink]="'/workspace'">Configure Schema ({{dialect}} Dialect)</a>
        <span>></span>
        <a class="breadcrumb_prepare_migration" mat-button [routerLink]="'/prepare-migration'"><b>Prepare Migration</b></a>
    </div>
</div>
<br />
<div class="body">
    <div class="definition-container">
        <h2 *ngIf="!isSharded">Source and Target Database definitions</h2>
        <h2 *ngIf="isSharded">Source and Target Database definitions (per shard)</h2>
        <div class="summary">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                        <b>{{ element.title }}</b>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Source">
                    <th mat-header-cell *matHeaderCellDef>Source</th>
                    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
                </ng-container>
                <ng-container matColumnDef="Destination">
                    <th mat-header-cell *matHeaderCellDef>Destination</th>
                    <td mat-cell *matCellDef="let element">{{ element.target }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Migration Mode:</mat-label>
        <mat-select [(ngModel)]="selectedMigrationMode" (selectionChange)="refreshPrerequisites()">
            <mat-option *ngFor="let mode of migrationModes" [value]="mode">
                {{mode}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-icon class="configure" [matTooltip]="migrationModesHelpText.get(selectedMigrationMode)!">info</mat-icon>
    <br>
    <div *ngIf="!(selectedMigrationMode === 'Schema')">
        <mat-form-field appearance="outline">
          <mat-label>Skip Foreign Key Creation:</mat-label>
          <mat-select [(ngModel)]="isForeignKeySkipped">
            <mat-option *ngFor="let element of skipForeignKeyResponseList" [value]="element.value">
              {{ element.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Migration Type:</mat-label>
        <mat-select [(ngModel)]="selectedMigrationType" (selectionChange)="refreshPrerequisites()">
            <mat-option *ngFor="let type of migrationTypes" [value]="type.value">
                {{type.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<mat-icon class="configure" [matTooltip]="migrationTypesHelpText.get(selectedMigrationType)!">info</mat-icon>
    <br/>
    <div class="mat-card-class">
        <mat-card>
            <mat-card-title>Prerequisites</mat-card-title>
            <mat-card-subtitle>Before we begin, please ensure you have done the following:</mat-card-subtitle>
            <div class="static-prereqs" *ngIf="(selectedMigrationType ==='bulk') && !(selectedMigrationMode ==='Schema')">
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Please ensure that the application default credentials deployed on this machine have permissions to write to Spanner.</span>
                </p>
            </div>
            <div class="static-prereqs" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema')">
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Please ensure that the source is <a href="https://cloud.google.com/datastream/docs/sources" target="_blank">configured</a> for Datastream change data capture.</span>
                </p>
                <p class="point">
                    <span class="bullet">2</span>
                    <span>Please ensure that Dataflow <a href="https://cloud.google.com/dataflow/docs/concepts/security-and-permissions" target="_blank">permissions</a> and <a href="https://cloud.google.com/dataflow/docs/guides/routes-firewall" target="_blank">networking</a> are correctly setup.</span>
                </p>
            </div>
            </mat-card>
    </div>
    <div class="mat-card-class">
        <mat-card>
            <div *ngIf="(connectionType ==='sessionFile') && !(selectedMigrationMode ==='Schema') && !isSharded">
                <h3>Source database details:</h3>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Setup Source database details</span><span><button mat-button class="configure"
                            (click)="openSourceDetailsForm()" [disabled]="isMigrationInProgress">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isSourceDetailsSet" class="success" matTooltip="Source details configured"
                                matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
            </div>
            <div *ngIf="isSharded && (selectedMigrationType === 'bulk') && !(selectedMigrationMode ==='Schema')">
                <mat-card-title>Source databases details:</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Setup Source Connection details
                        <mat-icon class="configure" matTooltip="Configure the connection info of all source shards to connect to and migrate data from.">info</mat-icon></span>
                        <span><button mat-button class="configure"
                            (click)="openShardedBulkSourceDetailsForm()" [disabled]="isMigrationInProgress">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isSourceDetailsSet" class="success" matTooltip="Source details configured"
                                matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
            </div>
            <div>
                <mat-card-title>Target details:</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span>Configure Spanner Database
                        <mat-icon class="configure" matTooltip="Configure the database in Spanner you want this migration to write to (up till now only GCP Project ID and Spanner Instance name have been configured.)">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="openTargetDetailsForm()" [disabled]="isMigrationInProgress">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isTargetDetailSet" class="success" matTooltip="Target details configured"
                                matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
                <p class="point" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema') && isSharded">
                    <span class="bullet">2</span>
                    <span>Configure Datastream
                        <mat-icon class="configure" matTooltip="Datastream will be used to capture change events from the source database. Please ensure you have met the pre-requistes required for setting up Datastream in your GCP environment. ">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="openMigrationProfileForm()"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isSourceConnectionProfileSet" class="success"
                                matTooltip="Source connection profile configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button>
                    </span>
                </p>
                <p class="point" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema') && !isSharded">
                    <span class="bullet">2</span>
                    <span>Setup source connection profile
                        <mat-icon class="configure" matTooltip="Configure the source connection profile to allow Datastream to read from your source database">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="openConnectionProfileForm(true)"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isSourceConnectionProfileSet" class="success"
                                matTooltip="Source connection profile configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
                <p class="point" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema') && !isSharded">
                    <span class="bullet">3</span>
                    <span>Setup target connection profile
                    <mat-icon class="configure" matTooltip="Create a connection profile for datastream to write to a GCS bucket. Spanner migration tool will automatically create the bucket for you.">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="openConnectionProfileForm(false)"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon *ngIf="isTargetConnectionProfileSet" class="success"
                                matTooltip="Target connection profile configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
                <p class="point" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema')">
                    <span class="bullet" *ngIf="isSharded">3</span>
                    <span class="bullet" *ngIf="!isSharded">4</span>
                    <span>Configure Dataflow (Optional)
                        <mat-icon class="configure" matTooltip="Dataflow will be used to perform the actual migration of data from source to Spanner. This helps you configure the execution environment for Dataflow jobs e.g VPC.">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="openDataflowForm()"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet">
                            Configure
                            <mat-icon>edit</mat-icon>
                            <mat-icon class="success"
                                matTooltip="Dataflow Configured" matTooltipPosition="above">
                                check_circle
                            </mat-icon>
                        </button></span>
                </p>
                <p class="point" *ngIf="(selectedMigrationType ==='lowdt') && !(selectedMigrationMode ==='Schema') && isSharded">
                    <span class="bullet" *ngIf="isSharded">4</span>
                    <span>Download configuration as JSON
                        <mat-icon class="configure" matTooltip="Download the configuration done above as JSON.">info</mat-icon></span>
                    <span><button mat-button class="configure"
                            (click)="downloadConfiguration()"
                            [disabled]="isMigrationInProgress || !isTargetDetailSet || !isTargetConnectionProfileSet">
                            Download
                            <mat-icon matTooltip="Download configured shards as JSON" matTooltipPosition="above">download</mat-icon>
                        </button></span>
                </p>
            </div>
        </mat-card>
    </div>
    <div class="mat-card-class" *ngIf="!(selectedMigrationMode ==='Schema') && isSharded">
        <mat-card>
            <mat-card-title>Configured Source Details</mat-card-title>
                <p class="point">
                    <span class="bullet">1</span>
                    <span><b>Source Database: </b>{{ sourceDatabaseType }}</span>
                </p>
                <p class="point">
                    <span class="bullet">2</span>
                    <span><b>Number of physical instances configured: </b> {{ numberOfInstances }}</span>
                </p>
                <p class="point">
                    <span class="bullet">3</span>
                    <span><b>Number of logical shards configured: </b> {{ numberOfShards }}</span>
                </p>
        </mat-card>
    </div>
    <div class="mat-card-class" *ngIf="isTargetDetailSet">
        <mat-card>
            <mat-card-title>Configured Target Details</mat-card-title>
            <p class="point">
                <span class="bullet">1</span>
                <span><b>Spanner Database: </b>{{ targetDetails.TargetDB }}</span>
            </p>
            <p class="point">
                <span class="bullet">2</span>
                <span><b>Spanner Dialect: </b>{{ dialect }}</span>
            </p>
            <p class="point">
                <span class="bullet">3</span>
                <span><b>Region: </b>{{ region }}</span>
            </p>
            <p class="point">
                <span class="bullet">4</span>
                <span><b>Spanner Instance: </b>{{ instance }} (Nodes: {{nodeCount}}, Processing Units:
                    {{processingUnits}})</span>
            </p>
        </mat-card>
    </div>
    <div *ngIf="hasSchemaMigrationStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="schemaMigrationProgress"></mat-progress-bar>
        <span> {{this.schemaProgressMessage}}</span>
    </div>
    <div *ngIf="hasDataMigrationStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="dataMigrationProgress"></mat-progress-bar>
        <span> {{this.dataProgressMessage}}</span>
    </div>
    <div *ngIf="hasForeignKeyUpdateStarted" class="progress_bar">
        <br>
        <mat-progress-bar mode="determinate" [value]="foreignKeyUpdateProgress"></mat-progress-bar>
        <span> {{this.foreignKeyProgressMessage}}</span>
    </div>
    <div *ngIf="generatingResources">
        <br>
        <span class="spinner">
            <mat-spinner [diameter]="20">
            </mat-spinner>
        </span>
        <span class="spinner-text">Generating Resources</span><br>
        Note: Spanner migration tool is creating datastream and dataflow resources. Please look at the terminal logs to check the progress of resource creation. All created resources will be displayed here once they are generated.
    </div>
    <div *ngIf="isResourceGenerated">
        <h3> Generated Resources:</h3>
        <li>Spanner database: <a [href]="resourcesGenerated.DatabaseUrl" target="_blank">{{resourcesGenerated.DatabaseName}}</a></li>
        <li>GCS bucket: <a [href]="resourcesGenerated.BucketUrl" target="_blank">{{resourcesGenerated.BucketName}}</a></li>
        <span *ngIf="resourcesGenerated.DataStreamJobName!=='' && (selectedMigrationType ==='lowdt') && !isSharded">
            <li> Datastream job: <a
                    [href]="resourcesGenerated.DataStreamJobUrl" target="_blank">{{resourcesGenerated.DataStreamJobName}}</a></li>
        </span>
        <span *ngIf="resourcesGenerated.DataflowJobName!=='' && (selectedMigrationType ==='lowdt') && !isSharded">
            <li>Dataflow job: <a [href]="resourcesGenerated.DataflowJobUrl" target="_blank">{{resourcesGenerated.DataflowJobName}}</a>
            </li>
        </span>
        <span *ngIf="resourcesGenerated.DataStreamJobName!=='' && (selectedMigrationType ==='lowdt') && isSharded">
            <li *ngFor="let stream of resourcesGenerated.ShardToDatastreamMap | keyvalue"> 
                Datastream job for shardId: {{ stream.key }} - <a [href]="stream.value.JobUrl" target="_blank">{{stream.value.JobName}}</a></li>
        </span>
        <span *ngIf="resourcesGenerated.DataflowJobName!=='' && (selectedMigrationType ==='lowdt') && isSharded">
            <li *ngFor="let dfJob of resourcesGenerated.ShardToDataflowMap | keyvalue">
                Dataflow job for shardId: {{ dfJob.key }} - <a [href]="dfJob.value.JobUrl" target="_blank">{{dfJob.value.JobName}}</a>
            </li>
        </span>
        <br><br>
        <b>Note: </b>Spanner migration tool has orchestrated the migration successfully. For minimal downtime migrations, it is safe to close Spanner migration tool now without affecting the progress of the migration.
        Please note that Spanner migration tool does not save the IDs of the Dataflow jobs created once closed, so please keep copy over the links in the Generated Resources section above before closing Spanner migration tool.
    </div>
    <div class="migrate">
        <span *ngIf="!isLowDtMigrationRunning">
            <button mat-raised-button type="submit" color="primary" (click)="migrate()"
                [disabled]="!((isTargetDetailSet && (selectedMigrationType ==='lowdt') && isSourceConnectionProfileSet && isTargetConnectionProfileSet) || (isTargetDetailSet && (selectedMigrationType ==='bulk'))) || isMigrationInProgress">Migrate</button>
        </span>
        <span *ngIf="isLowDtMigrationRunning">
            <button mat-raised-button color="primary" (click)="endMigration()">End Migration</button>
        </span>
    </div>
</div>