<div class="table">
  <div class="title_container">
    <h3 class="title"><mat-icon class="icon">table_chart</mat-icon>{{ ' ' + tableName }}</h3>
  </div>

  <mat-tab-group>
    <mat-tab label="COLUMNS">
      <div class="column-tab-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="srcDatabase">
            <th mat-header-cell *matHeaderCellDef colspan="2">ORACLE</th>
          </ng-container>
          <ng-container matColumnDef="spDatabase">
            <th mat-header-cell *matHeaderCellDef colspan="2">
              <div class="spanner_edit-button">
                <span>SPANNER</span>
                <button mat-stroked-button color="primary" (click)="toggleEdit()">
                  <mat-icon class="edit-icon">edit</mat-icon>
                  {{ isEditMode ? 'Save' : 'Edit' }}
                </button>
              </div>
            </th>
          </ng-container>

          <ng-container matColumnDef="srcColName">
            <th mat-header-cell *matHeaderCellDef>COLUMN NAME</th>
            <td mat-cell *matCellDef="let element">
              {{ element.get('srcColName').value }}
            </td>
          </ng-container>

          <ng-container matColumnDef="srcDataType">
            <th mat-header-cell *matHeaderCellDef>DATATYPE</th>
            <td mat-cell *matCellDef="let element">
              {{ element.get('srcDataType').value }}
            </td>
          </ng-container>

          <ng-container matColumnDef="spColName">
            <th mat-header-cell *matHeaderCellDef>COLUMN NAME</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="legacy" *ngIf="isEditMode">
                <input matInput type="text" [formControl]="element.get('spColName')" />
              </mat-form-field>

              <p *ngIf="!isEditMode">{{ element.get('spColName').value }}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="spDataType">
            <th mat-header-cell *matHeaderCellDef>DATATYPE</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="legacy" *ngIf="isEditMode" class="w-100">
                <mat-select
                  *ngIf="isEditMode"
                  [formControl]="element.get('spDataType')"
                  selected="element.get('spDataType').value"
                >
                  <mat-option
                    *ngFor="let t of typeMap[element.get('srcDataType').value]"
                    [value]="t.T"
                  >
                    {{ t.T }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p *ngIf="!isEditMode">{{ element.get('spDataType').value }}</p>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['srcDatabase', 'spDatabase']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="CONSTRAINTS"></mat-tab>
    <mat-tab label="SQL">
      <div class="ddl_container">
        <pre>
          <code>{{ddlStmts[tableName]}}</code>
        </pre>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
