.no-table-selected {
  height: 90%;
  background-color: white;
}

.select-table-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .image {
    margin: 20px;
  }
}

.title_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10px 20px;
  border-bottom: 1px solid #cccccc;
  .title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 0px;
    .icon {
      margin-right: 20px;
      color: #757575;
    }
    .drop {
      margin-left: 10px;
      color: #1967d2;
      height: 28px;
      display: inline-flex;
      align-items: center;
    }
  }
  .interleaved-title {
    display: flex;
    .interleave-parent-name {
      margin-left: 4px;
      text-decoration: underline;
    }
  }
}

.table {
  height: 100%;
  background-color: white;
  .mat-tab-group {
    height: 93%;
  }
  .height-on-edit {
    height: 84%;
  }
}

.columns-tab {
  display: flex;
  flex-direction: row;
}

.add-index-column-container {
  margin-left: 45%;
  padding: 10px;
  .index-column-list {
    margin-right: 1rem;
  }
}
.add-pk-column,
.add-column {
  margin-left: 50%;
  padding: 10px;
  .column-list {
    width: 40%;
  }
  .index-column-order {
    margin-right: 1rem;
  }
}

.add :host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

.column-tab-container,
.fk-tab-container,
.pk-tab-container,
.index-tab-container {
  height: 84%;

  .column-table-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  table {
    width: 100%;
  }

  .table_header {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: black;
  }

  .mat-header-row {
    height: 35px;
    background-color: #f5f5f5;
  }

  .tr {
    max-height: 48px;
    line-height: 48px;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.66);
  }

  .name_input {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    padding: 7px 5px;
    width: auto;

  }
  input.ng-invalid.ng-touched {
  border: 1px solid red;
  }

  .order_input {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    padding: 7px 5px;
    max-width: 40px;
  }

  .db_name {
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.05px;
    color: black;
    background-color: white;
  }

  .spanner_fk-edit-button,
  .spanner_edit-button {
    display: flex;
    align-items: center;
    button {
      background-color: inherit;
      border: none;
      .edit-icon {
        color: black;
        font-size: 1.1rem;
      }
    }
  }

  .mat-column-srcOrder,
  .mat-column-spOrder,
  .mat-column-srcIsPk,
  .mat-column-spIsPk,
  .mat-column-spIndexOrder,
  .mat-column-srcIndexOrder {
    min-width: 40px;
    text-align: center;
  }

  .mat-column-spReferColumns,
  .mat-column-srcColName,
  .mat-column-spColName,
  .mat-column-srcDataType,
  .mat-column-spDataType,
  .mat-column-spIndexColName,
  .mat-column-srcIndexColName {
    min-width: 100px;
  }

  .mat-column-srcIsNotNull,
  .mat-column-spIsNotNull {
    min-width: 100px;
  }

  .mat-column-srcIsNotNull,
  .mat-column-srcReferColumns,
  .mat-column-srcDatabase,
  .mat-column-srcIndexOrder {
    border-right: 1px solid #cdcccd;
  }
  .drop-button-left-border {
    border-left: 1px solid #cdcccd;
  }

  .sp-datatype-data-cells {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .material-icons {
      font-size: 18px;
    }
    

    .sp-datatype-suggestion-icon {
      margin-right: 5px;
      cursor: default;
    }
  }
}
.index-tab-container {
  .index-data-row {
    height: 41px;
  }
}

.interleave-tab-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interleave-tab-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-button {
  width: 100%;
  button {
    float: right;
    margin: 5px;
  }
}

.ddl_container {
  padding: 30px;
}
.border_bottom {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.centered {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100px;
}

p {
  margin: 0;
}

.mr10 {
  margin-right: 10px;
}
.scr-column-data-edit-mode {
  height: 58.3px;
}
