.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  padding-top: 10px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .icon {
      margin-right: 20px;
    }
  }
}
.column-tab-container {
  .spanner_edit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: inherit;
      border: none;
      .edit-icon {
        color: black;
        font-size: 1.1rem;
      }
    }
  }
}

.ddl_container {
  padding: 30px;
}
.border_bottom {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.centered {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100px;
}

th {
  min-width: 180px;
  margin-right: 50px;
}
p {
  margin: 0;
}
