.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #cccccc;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .icon {
      margin-right: 20px;
      color: #757575;
    }
  }
}
.column-tab-container {
  .table_header {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: black;
  }

  .mat-cell,
  .mat-header-cell {
    border-right: 1px solid #f5f5f5;
    padding: 0px 5px;
  }

  .name_input {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    padding: 7px 5px;
    width: auto;
  }

  .db_name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05px;
    color: black;
  }
  .spanner_edit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: inherit;
      border: none;
      .edit-icon {
        color: black;
        font-size: 1.1rem;
      }
    }
  }
}

.ddl_container {
  padding: 30px;
}
.border_bottom {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.centered {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100px;
}

th {
  min-width: 180px;
  margin-right: 50px;
}
p {
  margin: 0;
}
