<mat-toolbar color="secondry">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="pointer" [routerLink]="'/'"> HarbourBridge</span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/workspace'"> Workspace </a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      [routerLink]="'/instruction'">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</mat-toolbar>