<div mat-dialog-content>
  <form [formGroup]="targetDetailsForm" class="target-detail-form">
    <h2>Spanner Database Details<mat-icon class="configure"
      matTooltip='Schema & Schema and data migration: Specify new database name or existing database with empty schema. Data migration: Specify existing database with tables already created'>
    info</mat-icon></h2>
    
    
    <mat-form-field class="full-width" appearance="outline"  
    >
      <mat-label>Spanner Database</mat-label>
      <input matInput placeholder="Target Database" type="text" formControlName="targetDb"
        ng-value="targetDetails.TargetDB" />
          <mat-hint >
            <div class="container"  style="display: inline;">
              <mat-icon matPrefix style="color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                  <circle cx="18" cy="18" r="18" fill="#d50000" />
                  <text x="50%" y="30%" dominant-baseline="middle" text-anchor="middle" fill="white" font-size="36px" font-weight="bold">!</text>
                </svg> 
              </mat-icon>
              Min. 2 characters and Max. 30 characters. 
              <a  href="https://cloud.google.com/spanner/docs/reference/standard-sql/data-definition-language#naming_conventions">More Details</a> 
            </div>
            </mat-hint>
    </mat-form-field>
    <br>
    <br>
    <b>Region:</b>
    {{region}}
    <br>
    <br>
    <b>Spanner Instance:</b>
    {{spannerInstance}}
    <br>
    <br>
    <b>Dialect:</b>
    {{dialect}}
  </form>
  <div mat-dialog-actions class="buttons-container">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="!(targetDetailsForm.valid)"
      (click)="updateTargetDetails()">
      Save
    </button>
  </div>
</div>