<div mat-dialog-content>
  <form [formGroup]="targetDetailsForm" class="target-detail-form">
    <h2>Spanner Database Details<mat-icon class="configure"
      matTooltip='Schema & Schema and data migration: Specify new database name or existing database with empty schema. Data migration: Specify existing database with tables already created'>
    info</mat-icon></h2>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Spanner Database</mat-label>
      <input matInput placeholder="Target Database" type="text" formControlName="targetDb"
        ng-value="targetDetails.TargetDB" />
          <mat-hint>
            <div class="container"  style="display: inline;">
              Min. 2 characters and Max. 30 characters. 
              <a  href="https://cloud.google.com/spanner/docs/reference/standard-sql/data-definition-language#naming_conventions">More Details</a> 
            </div>
            </mat-hint>
    </mat-form-field>
    <br>
    <br>
    <b>Region:</b>
    {{region}}
    <br>
    <br>
    <b>Spanner Instance:</b>
    {{spannerInstance}}
    <br>
    <br>
    <b>Dialect:</b>
    {{dialect}}
  </form>
  <div mat-dialog-actions class="buttons-container">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="!(targetDetailsForm.valid)"
      (click)="updateTargetDetails()">
      Save
    </button>
  </div>
</div>