<div class="sidenav">
  <div class="sidenav-header">
    <span class="header-title">Review changes to your schema</span>
    <button class="close-button" mat-icon-button color="primary" (click)="closeSidenav()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="sidenav-content">
    <p *ngIf="showDdl">Review the DDL changes below.</p>
    <div *ngIf="showDdl" class="ddl-display">
      <pre><code>{{ddl}}</code></pre>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="sidenav-footer">
    <button (click)="updateTable()" mat-raised-button color="primary">Confirm Conversion</button>
  </div>
</div>
