<div class="container">
  <div class="header">
    <span class="header-title">Review changes to your schema</span>
    <button class="close-button" mat-icon-button color="primary" (click)="closeSidenav()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <p *ngIf="showDdl">Review the DDL changes below.</p>
    <p *ngIf="!showDdl">
      Changing an interleaved table will have an impact on the following tables [Table name, Table
      name, Table, name]
    </p>
    <div *ngIf="showDdl" class="ddl-display">
      <pre><code>{{ddl}}</code></pre>
    </div>
    <div *ngIf="!showDdl" class="table-changes-display">
      <ng-container *ngFor="let key of tableChanges; let i = index">
        <h4>Table {{ i + 1 }}</h4>
        <app-table-column-changes-preview [dataSource]="key"></app-table-column-changes-preview>
      </ng-container>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer">
    <button mat-raised-button color="primary">Confirm Conversion</button>
  </div>
</div>
