<table mat-table [dataSource]="dataSource" class="object-full-width margin-bot-1">
  <ng-container matColumnDef="ColumnName">
    <th mat-header-cell *matHeaderCellDef>Column</th>
    <td mat-cell *matCellDef="let element">{{ element.ColumnName }}</td>
  </ng-container>

  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
  </ng-container>

  <ng-container matColumnDef="UpdateColumnName">
    <th mat-header-cell *matHeaderCellDef>Updated Column</th>
    <td mat-cell *matCellDef="let element">{{ element.UpdateColumnName }}</td>
  </ng-container>

  <ng-container matColumnDef="UpdateType">
    <th mat-header-cell *matHeaderCellDef>Updated Type</th>
    <td mat-cell *matCellDef="let element">{{ element.UpdateType }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
