.margin-bot-1{
  margin-bottom: 1rem;
}

.mat-header-row {
  background-color: #f5f5f5;
}
.mat-column-ColumnName,
.mat-column-UpdateColumnName {
  width: 30%;
  max-width: 30%;
}
.mat-column-Type,
.mat-column-UpdateType {
  width: 20%;
  max-width: 20%;
}
.mat-cell {
  padding-right: 1rem;
  word-break: break-all;
}
