.success {
  color: #00c752;
}
.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 20px;
}

.error {
  color: #da4236;
}

.warning {
  color: #f3b300;
}
