.info-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-container {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin-right: 20px;
}
