.label-container{
    display: flex;
}

.table-select{
    border: 0px !important;
    margin-bottom:0px  !important;
}


.dataType-modal-position {
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -335px;
    width: 650px;
}

.data-mapping-card {
    background-color: #F2F2F2;
    width: 360px;
}

.data-type-modal-body {
    padding-left: 170px;
    padding-right: 24px;
    padding-top: 45px;
    padding-bottom: 45px;
}

th {
    text-align: center;
}

.data-type-table th {
    padding: 8px;
    text-align: center;
    background-color: #4285F4;
    color: #FFFFFF;
}

.data-type-table td {
    padding: 0 0 0 31px;
    text-align: left;
}

.data-type-table > tbody {
    display: block;
    overflow: auto;
    max-height: 310px;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.warning {
    color: #F4B400 !important;
    font-size: 18px !important;
    margin: auto 0px;
    padding: 0px;
    color: #FFFFFF;
    opacity: inherit;
    margin-right: 10px;
    margin-top: 10px;
}

.src-td {
    border-right: 1px solid #DCDCDC;
    padding-left: 65px !important;
}
