<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="header-title">Add rule</span>
    <button class="close-button" mat-icon-button color="primary" (click)="closeSidenav()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div class="form-container">
    <form [formGroup]="ruleForm">
      <h3>Rule info</h3>
      <mat-form-field appearance="outline">
        <mat-label>Rule name</mat-label>
        <input matInput class="input-field" formControlName="ruleName" />
        <mat-hint>Max. 60 characters, and starts with a letter.</mat-hint>
      </mat-form-field>

      <h3>Rule definition</h3>
      <mat-form-field appearance="outline">
        <mat-label>Rule type</mat-label>
        <mat-select
          #ruleType
          matSelect
          class="input-field"
          formControlName="ruleType"
          required="true"
        >
          <mat-option value="globalDataType">Change global data type</mat-option>
          <mat-option value="AddIndex">Add Index</mat-option>
        </mat-select>
      </mat-form-field>

      <br />
    </form>
    <div *ngIf="ruleType.value === 'globalDataType'" class="change-global-type">
      <app-edit-global-datatype-form
        [ruleNameValid]="ruleForm.valid"
      ></app-edit-global-datatype-form>
    </div>
    <div class="change-global-type" *ngIf="ruleType.value === 'AddIndex'">
      <app-add-index-form [ruleNameValid]="ruleForm.valid"></app-add-index-form>
    </div>
  </div>
</div>
