.instructionsDiv {
    padding: 40px;
    padding-top: 60px;
}

.instructionsIcon {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}

.instructionsMainHeading {
    font-size: 1.25rem;
    color: #4285F4;
    font-weight: bold;
}

.instructionsSubHeading {
    font-size: 1rem;
    color: #4285F4;
    font-weight: bold;
}

.instructionsCommand {
    background-color: #8080806b;
    border-radius: 5px;
    padding: 0px 5px;
}

.instructionsImgWidth {
    width: 800px;
}

.instructionsLink {
    color: #4285F4;
    text-decoration: underline;
}