<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> HarbourBridge</span>

  <div>
    <!-- to be removed -->
    <span class="menu-item">
      <a href="home">Home</a>
    </span>
    <span class="menu-item">
      <a href="source">Source Selection</a>
    </span>
    <span class="menu-item">
      <a href="workspace">Workspace</a>
    </span>
    <span class="menu-item">
      <a href="instruction">Instruction</a>
    </span>
  </div>
 

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>