<div class="container">
  <h3>Get started with HarbourBridge</h3>
  <div class="summary global-font-color">
    HarbourBridge is a stand-alone open source tool for Cloud Spanner evaluation and migration,
    using data from an existing PostgreSQL, MySQL, SQL Server, Oracle or DynamoDB database.
    <a href="https://github.com/cloudspannerecosystem/harbourbridge#readme">Learn More</a>.
  </div>
  <div class="btn-source-select">
    <button
      mat-raised-button
      color="primary"
      class="split-button-left"
      [routerLink]="'/source/direct-connection'"
    >
      Connect to database
    </button>
    <button mat-raised-button color="primary" class="split-button-right" [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="More options">expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="'/source/load-dump'">Load database dump</button>
      <button mat-menu-item [routerLink]="'/source/load-session'">Load session file</button>
    </mat-menu>
  </div>
  <app-session-listing></app-session-listing>
</div>
