.cus-tip {
    padding: 5%;
    position: relative;
    display: contents;
}

.cus-a:hover+div {
    display: block;
}

.info-icon{
    color: #7B7B7C;
    width: 32px;
    vertical-align: middle;
    cursor: pointer;
}

.info-icon i {
    font-size: 30px;
}

.legend-icon{
    color: #222222;
    font-size: 20px;
    padding-left: 8px;
    cursor: pointer;
    display: inline;
}

.legend_align{
    cursor: pointer;
    display: inline-block;
    vertical-align: super;
}


.legend-status {
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
}

.legend-status span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}

.legend-status .excellent {
    background: #0F9D58;
}

.legend-status .good {
    background: #4285F4
}

.legend-status .poor {
    background: ORANGE;
}

.legend-status .avg {
    background: YELLOW;
}

.legend-hover {
    display: none;
    position: absolute;
    z-index: 99;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 400px;
    padding: 16px 14px;
    color: #5E5752;
    margin-top: 5px;
}