.container {
  position: relative;
  background-color: white;
  .filter-wrapper {
    padding: 0 10px;
  }

  .mat-mdc-header-cell-name {
    height: 35px;
  }
  .mat-mdc-header-cell-name div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .mat-mdc-header-cell-name .spanner-unsorted-icon {
    visibility: hidden;
  }
  .mat-mdc-header-cell-name:hover .spanner-unsorted-icon {
    visibility: visible;
    opacity: 0.7;
  }
  .mat-mdc-header-cell-name .src-unsorted-icon {
    visibility: hidden;
  }
  .mat-mdc-header-cell-name:hover .src-unsorted-icon {
    visibility: visible;
    opacity: 0.7;
  }
  .sort-icon {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .mat-mdc-cell{
    padding-right: 0px !important;
  }
}

.selected-row {
  background-color: #61b3ff4a;
}

.explorer-table {
  height: calc(100vh - 320px);
  width: 100%;
  overflow: auto;
}

.mat-mdc-table {
  width: 100%;
  border: inset;

  .sidebar_link {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    svg {
      margin-right: 10px;
    }
    .actions {
      height: 40px;
      margin-left: 14px;
      .add-index-icon {
        margin-top: 7px;
      }
    }
  }

  .mat-mdc-row,
  .mat-mdc-header-row {
    height: 29px;
  }

  .mat-mdc-header-cell {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background: #f5f5f5;
  }
  .mat-column-status {
    .mat-icon {
      font-size: medium;
    }
  }

  .icon {
    margin-right: 20px;
  }
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  .left {
    width: 30%;
    display: flex;
    align-items: center;
    .material-icons {
      margin-right: 5px;
    }
  }
  .right {
    width: 70%;
    input {
      width: 70%;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

#left-column-toggle-button {
  z-index: 100;
  position: absolute;
  right: 4px;
  top: 10px;
  border: none;
  background-color: inherit;
}
#left-column-toggle-button:hover {
  cursor: pointer;
}

.mat-mdc-column-status {
  width: 80px;
}
::ng-deep .column-left .mat-mdc-tab-label-container {
  margin-right: 40px;
}
::ng-deep .column-left .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-label-container {
  margin-right: 0;
}
::ng-deep .column-left .mat-mdc-tab-header-pagination-after {
  margin-right: 40px;
}