table.mat-mdc-table {
  width: 100%;
}

.icon-size {
  font-size: 1.2em;
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
  vertical-align: inherit;
}

.mat-mdc-header-cell {
  border-style: none;

}

.icons {
  border-left: 1px solid rgb(208, 204, 204);
  padding-left: 10px;
}

.cells {
  text-align: center;
}

.sidenav-view-assessment-container {
  .sidenav-view-assessment-header {
    padding: 7px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d0cccc;
    justify-content: space-between;

    .header-title {
      margin: 0;
    }

    .btn-source-select {

      .reportsButtons {
        white-space: nowrap;
      }

      .split-button-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .split-button-right {
        width: 30px !important;
        min-width: unset !important;
        padding: 0 8px 0 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid #fafafa;
      }

      .close-button {
        margin-left: 1.25px;
      }
    }
  }
}