.header {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(208, 204, 204);
  .header-title {
    margin: 0;
  }
}
.content {
  padding: 10px 20px;
}
table.mat-table {
  width: 100%;
}
.percentage-bar {
  height: 0.8rem;
  display: flex;
  flex-direction: row;
  border: 5px;
  div {
    height: 0.8rem;
  }
}

.percentage-marker {
  display: flex;
  justify-content: space-between;
}

.percentage-indent {
  display: flex;
  span {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
  }
}

.icon-size {
  font-size: 1.2em;
}
