on:
  push:
    branches:
      - master
  pull_request:
name: lint
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13'
      - run: go version
      - run: go vet .
      - run: go get golang.org/x/tools/cmd/goimports && test -z $(goimports -l .)
      - run: export PATH="$HOME/go/bin:$PATH"
      - run: go get golang.org/x/lint/golint && golint .
      - run: go get honnef.co/go/tools/cmd/staticcheck && staticcheck .
